# Ignore virtual environment directories
myenv/
myvenv/
venv/
.env/
.venv/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore IDE/editor configurations (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

